@mixin col($colspan: 1) {
  flex-basis: (100% * $colspan) / 12;
  max-width: (100% * $colspan) / 12;
}

@mixin offset($cols: 0) {
  margin-left: (100% * $cols) / 12;
}

@mixin do-breakpoint($key) {
  @if map-get($breakpoints, $key) > 0 {
    @media only screen and (min-width: map-get($breakpoints, $key)) {
      @content;
    }
  }
  @if map-get($breakpoints, $key) == 0 {
    @content;
  }
}
