// GRID SYSTEM VARIABLES
$grid-distance: 15px;

$breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1440px
);

$container-padding: (
  xs: 10px,
  sm: 20px,
  md: 30px,
  lg: 40px
);

// COLORS
$color-white: #fff;
$color-black: #000;
